<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap" rel="stylesheet">

<ion-header [translucent]="true">


  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <h1 slot="end">| FRENCHTICLE</h1>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" class="background">

  <ion-item id="header">
    <ion-buttons (click)="cikisYap()" slot="start">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-buttons>
    <ion-label>Your word count is : "<span style="color: red; font-weight: bold;" >{{kayitCount}}</span>"</ion-label>
  </ion-item>

  <ion-item *ngFor="let item of kayitlar; let i = index">
    <span *ngIf="!item.guncelleniyor; else duzenleAc">
    
    <ion-label>
      <h2>{{ item.payload.doc.data().word }}</h2>
      <h6>{{ item.payload.doc.data().meaning }}</h6>
      <p>{{ item.payload.doc.data().article }}</p>
    </ion-label></span>
    
    <ion-button color="light" slot="end" (click)="kayitDuzenle(item)">
      <ion-icon name="build-outline"></ion-icon>
    </ion-button>
  
    <ion-button color="light" slot="end" (click)="kayitSil(item.payload.doc.id)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>

    <ion-card>
      <ng-template #duzenleAc>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col class="changeit">
                  Edit
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-item class="changeit">
            <ion-label color="danger"><strong>Word:</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.gWord"></ion-input>
          </ion-item>
          <ion-item class="changeit">
            <ion-label color="danger"><strong>Meaning:</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.gMeaning"></ion-input>
          </ion-item>
          <ion-item class="changeit">
            <ion-label color="danger"><strong>Article:</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.gArticle"></ion-input>
          </ion-item>
        </ion-card-content>
        <ion-card-subtitle>
          <ion-grid fixed>
            <ion-row id="rowfbuttons">
              <ion-col class="ion-padding">
                <ion-button style="float: center;" fill="clear" color="danger" size="small" class="changeit"
                  (click)="item.guncelleniyor = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col class="ion-padding">
                <ion-button style="float: center;" fill="outline" class="changeit" color="success" size="small"
                  (click)="kayitGuncelle(item)">
                  Change
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
      </ng-template>
    </ion-card>
  </ion-item>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="gitAddWord()" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>




</ion-content>