<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap" rel="stylesheet">

<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" class="background">


  <div id="container">
    <h1>FRENCHTICLE</h1>
    <p>French is easy!</p>

     
      <div class="form">
        <ion-input placeholder="Email" type="email"  [(ngModel)]="eposta" ></ion-input>
        <ion-input placeholder="Password" type="password" [(ngModel)]="parola"></ion-input>
        <ion-button (click)="login()" expand="block" fill="outline">Login</ion-button>
        <ion-button (click)="gitRegister()"  expand="block" fill="outline">Signup</ion-button>
        <div class="ion-padding"><ion-button size="small" fill="outline" (click)="presentAlertPrompt()">Forgotten password?
        </ion-button></div>
        
        
      </div>
      
  </div>
  <div id="errorSign">{{ girisHata }}</div>

</ion-content>